{% extends 'back_base.html.twig' %}


{% block title %}Ajouter Un Centre De Camping{% endblock %}

{% block body %}
    <a href="{{ path('app_centre_camping_index') }}">Retour</a>

    <h1>Ajouter Un Centre De Camping</h1>

    {{ include('centre_camping/_form.html.twig') }}

{% endblock %}
